
body {
      background-color: bisque;

}


/*
ANATOMIA DEL CSS

selector {
    propiedad: valor;
    propiedad: valor;
*/

/*selectores por etiqueta HTML*/
 h1 {
     color: brown;
 }

    h2 {
        color: chocolate;
    }
   
    h3 {
        color: chocolate;
    }
   
    p {
        color: crimson;
        background-color: gold;
    }

    a {
        color: blue;
    }

    strong {
        color: crimson;
    }

    spam {
        color: coral;
    }
    table {
        background-color:green;
        width: 100%;
    }
    
    th {
        background-color:gold
    }
    td {
        background-color: gold;
    }
   
    /*selector id se identifica siempre con el # */



